<!--================== Languages Section =====================-->
<div id="languages-container">
    <h2 class="languages-title">Idiomas</h2>
    <div class="languages">
        <div class="languages-items">
            <div class="languages-item">
                <p>Portugués</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                </div>
            </div>
            <div class="languages-item">
                <p>Español</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                </div>
            </div>
            <div class="languages-item">
                <p>Inglés</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%"></div>
                </div>
            </div>
            <div class="languages-item">
                <p>Francés</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================== End Languages Section =====================-->
