<!--================== Hard and Soft Skills Section =====================-->
<div id="hard-and-soft-skills-container">
    <h2 class="hard-skills-items">Habilidades Duras y Blandas</h2>
    
    <div class="skills-container">
    <div class="hard-skills-container">
        <h4 class="hard-skills-title">Habilidades Duras</h4>
        <div class="hard-skills-items">

            <div class="progress-circle-item">
            <div class="progress-circle violet item-7">
                <span class="progress-left">
                    <span class="progress-circle-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-circle-bar"></span>
                </span>
            </div>
            <div class="soft-skills-item">Creatividad</div>
            </div>

            <div class="progress-circle-item">
                <div class="progress-circle violet item-8">
                    <span class="progress-left">
                        <span class="progress-circle-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-circle-bar"></span>
                    </span>
                </div>
                <div class="soft-skills-item">Trabajo en la nube</div>
            </div>

            <div class="progress-circle-item">
                <div class="progress-circle violet item-9">
                    <span class="progress-left">
                        <span class="progress-circle-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-circle-bar"></span>
                    </span>
                </div>
                <div class="soft-skills-item">Usos de software de diseño gráfico (Photoshop, Illustrator y Affter effects)</div>
            </div>

            <div class="progress-circle-item">
                <div class="progress-circle violet item-10">
                    <span class="progress-left">
                        <span class="progress-circle-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-circle-bar"></span>
                    </span>
                </div>
                <div class="soft-skills-item">HTML</div>
            </div>

            <div class="progress-circle-item">
                <div class="progress-circle violet item-11">
                    <span class="progress-left">
                        <span class="progress-circle-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-circle-bar"></span>
                    </span>
                </div>
                <div class="soft-skills-item">CSS</div>
            </div>

            <div class="progress-circle-item">
                <div class="progress-circle violet item-12">
                    <span class="progress-left">
                        <span class="progress-circle-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-circle-bar"></span>
                    </span>
                </div>
                <div class="soft-skills-item">JavaScript</div>
            </div>

            <div class="progress-circle-item">
                <div class="progress-circle violet item-14">
                    <span class="progress-left">
                        <span class="progress-circle-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-circle-bar"></span>
                    </span>
                </div>
                <div class="soft-skills-item">Python</div>
            </div>

            <div class="progress-circle-item">
                <div class="progress-circle violet item-15">
                    <span class="progress-left">
                        <span class="progress-circle-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-circle-bar"></span>
                    </span>
                </div>
                <div class="soft-skills-item">Angular</div>
            </div>

            <div class="progress-circle-item">
                <div class="progress-circle violet item-16">
                    <span class="progress-left">
                        <span class="progress-circle-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-circle-bar"></span>
                    </span>
                </div>
                <div class="soft-skills-item">MySQL</div>
            </div>

        </div>
    </div>

    <div class="soft-skills-container">
        <h4 class="soft-skills-title">Habilidades Blandas</h4>
        <div class="soft-skills-items">

            <div class="progress-circle blue item-1">
                <span class="progress-left">
                    <span class="progress-circle-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-circle-bar"></span>
                </span>
                <div class="soft-skills-item">Creatividad</div>
            </div>

            <div class="progress-circle blue item-2">
                <span class="progress-left">
                    <span class="progress-circle-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-circle-bar"></span>
                </span>
                <div class="soft-skills-item">Adaptabilidad</div>
            </div>

            <div class="progress-circle blue item-3">
                <span class="progress-left">
                    <span class="progress-circle-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-circle-bar"></span>
                </span>
                <div class="soft-skills-item">Flexibilidad</div>
            </div>

            <div class="progress-circle blue item-4">
                <span class="progress-left">
                    <span class="progress-circle-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-circle-bar"></span>
                </span>
                <div class="soft-skills-item soft-text">Trabajo en equipo</div>
            </div>

            <div class="progress-circle blue item-5">
                <span class="progress-left">
                    <span class="progress-circle-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-circle-bar"></span>
                </span>
                <div class="soft-skills-item">Comunicación</div>
            </div>
        </div>
    </div>
    </div>
</div>
<!--================== End Hard and Soft Skills Section =====================-->
